body {
	font-family: sans-serif;
	line-height: 1;
	vertical-align: baseline;
	background-color: #C2B8A8;
}

#content {
	box-sizing: border-box;
	vertical-align: baseline;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: -5px;

}

#article {
	box-sizing: border-box;
	display: block;
	vertical-align: baseline;
	margin-left: 80px;
	margin: 300px;
	margin-bottom: 30px;
	margin-top: 8px;


}



div {
	box-sizing: border-box;
	display: block;
	vertical-align: baseline;
	margin-left: 100px;
	margin: 20px;
}

header {
	width: 1210px;
	height: 120px;
	margin-left: 50px;
	margin-right: 100px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid grey;
	vertical-align: baseline;
	background-color: #FFFFFF;
	padding: 8px;
}

#header-text {
	font-size: 16px;
	margin-left: 40px;
}


#search {
	width: 20%;
	margin-left: 900px;
	margin-bottom: 60px;
	margin-top: -60px;
}

#swe {
	width: 7%;
	margin-left: 1050px;
	margin-top: -90px;
	margin-bottom: 70px;
}

aside {
	background-color: #FFFFFF;
	float: left;
	width: 280px;
	height: 680px;
	margin-left: 10px;
	margin-right: 10px;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid grey;
	vertical-align: baseline;
}

footer {
	width: 1210px;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 30px;
	padding: 10px;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid grey;
	display: block;
	font: inherit;
	vertical-align: baseline;
	clear: both;
}


article {
	background-color: #FFFFFF;
	float: right;
	width: 211px;
	height: 220px;
	margin-left: 20px;
	margin-right: 10px;
	margin: 10px;
	margin-top: -0px;
	display: block;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid grey;
	vertical-align: baseline;
	overflow: visible;


}



h1 {
	width: 50px;
	height: 16px;
	margin-bottom: 33px;
	margin-top: 10px;
	margin-left: 20px;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	vertical-align: baseline;
}

li {
	width: 778px;
	height: 16px;
	vertical-align: baseline;
	margin-left: 28px;
}



img {
	width: 70%;
	margin-left: 30px;
	margin-right: 30px;


}

p {
 	font-size: 14px;
 	margin-left: 15px;

}

#nikeskor {
	margin-top: 50px;
}

#skor {
	margin-top: 50px;
}

#troja {
	width: 80%;
}

#kop {
	float: left; position: relative;
	position: absolute; top: 320px; right: 1055px;
	width: 4%;
	border-radius: 5px;
}

#kop2 {
	float: left; position: relative;
	position: absolute; top: 320px; right: 820px;
	width: 4%;
	border-radius: 5px;
}

#kop3 {
	float: left; position: relative;
	position: absolute; top: 320px; right: 590px;
	width: 4%;
	border-radius: 5px;
}

#kop4 {
	float: left; position: relative;
	position: absolute; top: 320px; right: 355px;
	width: 4%;
	border-radius: 5px;
}

#kop5 {
	float: left; position: relative;
	position: absolute; top: 550px; right: 1055px;
	width: 4%;
	border-radius: 5px;
}

#kop6 {
	float: left; position: relative;
	position: absolute; top: 550px; right: 820px;
	width: 4%;
	border-radius: 5px;
}

#kop7 {
	float: left; position: relative;
	position: absolute; top: 550px; right: 590px;
	width: 4%;
	border-radius: 5px;
}

#kop8 {
	float: left; position: relative;
	position: absolute; top: 550px; right: 355px;
	width: 4%;
	border-radius: 5px;
}

#kop9 {
	float: left; position: relative;
	position: absolute; top: 780px; right: 1055px;
	width: 4%;
	border-radius: 5px;
}

#kop10 {
	float: left; position: relative;
	position: absolute; top: 780px; right: 820px;
	width: 4%;
	border-radius: 5px;
}

#kop11 {
	float: left; position: relative;
	position: absolute; top: 780px; right: 590px;
	width: 4%;
	border-radius: 5px;
}

#kop12 {
	float: left; position: relative;
	position: absolute; top: 780px; right: 355px;
	width: 4%;
	border-radius: 5px;
}

